<div class="container valign-wrapper center-align">
  <div class="row">
    <div class="col s12 l8 offset-l3">
      <h4>Usuario
        {{#if user.nick_name}}
          <i>{{user.nick_name}}</i> dado de alta correctamente:</h4>
        {{else}}
          <i>{{user.nombre}}</i> dado de alta correctamente:</h4>
        {{/if}}
      <br>
      <br>
    </div>
    <div class="col s12 l8 offset-l3">
    <h5>Ahora puedes <a href="/"><b>Iniciar session</b> </a></h5>
    </div>
  </div>
</div>

